* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3em;
}

.container2 {
    /* border: 2px solid orange; */
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    text-align: center;
    align-items: center;
    padding: .60em;
    color: gray;
}

.faq {
    letter-spacing: .20em;
    text-transform: uppercase;
}

.top-heading {
    font-family: 'Rampage Monoline';
}

.sign {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-transform: uppercase;
    letter-spacing: .20em;
}

.nav {
    width: 100%;

    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: gray;
    padding: 3em;
}

.category {
    /* border: 2px solid green; */
    padding: 8em;
    background-color: rgb(186, 186, 186);
    position: relative;
}

.categorybackground {
    position: absolute;
    left: 35%;
    text-align: center;
    font-family: 'Rampage Monoline';
    color: white;
}

.p1 {
    /* border: 2px solid orange; */
    text-align: center;
    padding: 2em;
    color: rgb(140, 139, 139);
}

.container3 {
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 3em;
    min-width: 800px;
}


.section3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-content: center;
    justify-content: center;
}

.image {
    background-color: rgb(186, 186, 186);
    width: 200px;
    height: 30vh;
    display: grid;
    align-content: center;
    justify-content: center; 
}



.lists {
    list-style: none;
    font-size: .90rem;
    padding: 1em;
    line-height: 2em;
    color: gray;
}

.mainhead {
    background-color: rgb(251, 249, 249);
    height: 90vh;
    margin: 1em;
}

.list-head p {
    margin: .80em;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: .75rem;
    font-weight: 500;
    color: gray;
}

.content h4 {
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: .20em;
    color: gray;
    font-weight: 400;
}

.content p {
    font-size: .70rem;
    color: gray;
}

.mainhead-p {
    padding: 1em;
    text-transform: uppercase;
    letter-spacing: 0.20em;
    font-size: .70rem;
    font-weight: 500;
    color: gray;
}

.btn {
    /* border: 1px solid purple; */
    text-align: center;
    padding: 1em;
}

.btn button {
    background-color: rgb(200, 199, 199);
    border: 2px solid white;
    padding: .90em;
    margin: .80em;
    width: 200px;
    font-size: .70rem;
    text-transform: uppercase;
    letter-spacing: .15em;
    /* color: gray; */
}

.sect-head {
   max-width: 1000px;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    
}

.sect-head h2{
    /* border: 2px solid blue; */
    font-size: 2rem;
    font-family: 'Rampage Monoline';
    color: rgb(87, 87, 87);
}

.sect-head p {
    /* border: 2px solid blueviolet; */
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: .70rem;
    color: gray;
}

.box-container {
    height: 70vh;
    width: 50vw;
    margin-top: 50px;
    position: relative;
}


.box-section {
    /* border: 2px solid greenyellow; */
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.box-circle {
    background-color: rgb(209, 197, 197);
    width: 150px;
    height: 20vh;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: -40px;
    left: 60px;
    font-size: 2rem;
    border-radius: 200px;
} 

.box-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}


.boxer {
    background-color: rgb(186, 184, 184);
    display: grid;
    justify-content: center;
    align-content: center;
    height: 18vh;
}

.box1 {
    background-color: rgb(237, 233, 233);
    height: 25vh;
    margin-top: 40px;
}

.box1 h5 {
    padding-top: 6em;
    text-decoration: underline;
    text-align: center;
    font-family: 'Rampage Monoline';
    color: rgb(87, 87, 87);
}

.box1 p {
    text-align: center;
    text-transform: uppercase;
    font-size: .70em;
    letter-spacing: .20em;
    padding: .80rem;
    color: rgb(140, 139, 139);
    font-weight: 500;
}

.header-text {
    text-align: center;
    padding: 1em;
    font-family: 'Rampage Monoline'; 
    font-size: 1.5rem;
    color: rgb(87, 87, 87);
}

@media (max-width: 600px) {
    .box-section {
        display: grid;
    }

}

.last-container {
    /* border: 2px solid orange; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 3em;
}

.lastbottom {
    /* border: 2px solid red; */
    display: grid;
    justify-items: end;
}

.endbottom {
    /* border: 2px solid green; */
    display: grid;
    justify-items: end;
}

.roundshape {
    background-color: rgb(65, 64, 64);
    width: 5.2vw;
    /* max-width: 1000px; */
    height: 10vh;
    border-radius: 200px;
    left: 23%;
    position: absolute;
    z-index: 1;

}

.last-p {
    /* border: 2px solid purple; */
    margin-left: 30px;
    font: .80rem;
    width: 80%;
    font-size: .90rem;
    color: gray;
}

.lastgrid {
    /* border: 2px solid yellow; */
    display: grid;
    grid-template-rows: repeat(4, 100px);
    background-color: rgb(237, 236, 236);
    padding: 1.2em;

}

.roundshape2 {
    width: 5.2vw;
    height: 10vh;
    background-color: rgb(65, 64, 64);
    border-radius: 200px;
    position: absolute;
    left: 50%;
}

.travel-p p{
    text-transform: uppercase;
    font-size: .80rem;
    letter-spacing: .15em;
    color: gray;
}

.read {
    text-decoration: underline;
    font-weight: 500;
}

.travel-p2 p{
    text-transform: uppercase;
    font-size: .80rem;
    letter-spacing: .15em;
    color: gray;
}

.ending-sect {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    height: 20vh;
    gap: 20px;
    font-size: .78em;
}

.last-squared p{
    text-transform: uppercase;
    padding:5em;
    font-size: .80em;
    color: rgb(137, 136, 136);
    letter-spacing: .20em;
    background-color: rgb(237, 236, 236);
   
}

.last-side p{
    text-transform: uppercase;
    padding:5em;
    font-size: .80em;
    color: rgb(137, 136, 136);
    letter-spacing: .20em;
    background-color: rgb(237, 236, 236);
} 

span {
    text-decoration: underline;
    font-weight: 500;
}


.subscribe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(237, 235, 235);
    margin: 4em;
    /* padding-top: 2em;
    padding-bottom: 2em; */
}

.sub {
    display: grid;
    grid-column: 4;
    padding: 2em;
    margin: 1em;
    background-color: rgb(202, 201, 201);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: .80rem;
    color: rgb(144, 142, 142)
}

.email {
    display: grid;
    grid-column:3;
    padding:2em;
    background-color: rgb(231, 222, 222);
    font-size: .80rem;
    color: rgb(144, 142, 142);
    
}

.newsletter {
    padding: 1em;
    font-family: 'Rampage Monoline';
    font-size: 1.2rem;
    color: rgb(87, 87, 87)
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* padding: 4em; */
    justify-content: space-between;
}

.footer-a {
    /* border: 2px solid orange; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.footer-b {
    background-color: rgb(199, 196, 196);
    width: 50px;
    border-radius: 50px;
    height: 6vh;
}
.footer-c {
    background-color: rgb(199, 196, 196);
    width: 50px;
    border-radius: 50px;
    height: 6vh;
}
.footer-d {
    background-color: rgb(199, 196, 196);
    width: 50px;
    border-radius: 50px;
    height: 6vh;
}
.footer-e {
    background-color: rgb(199, 196, 196);
    width: 50px;
    border-radius: 50px;
    height: 6vh;
}

.footer-f {
    display: grid;
    justify-content: end;
    color: rgb(144, 142, 142);
    padding: 1em;
    
}

.footer-p {
    padding: 1em;
    color: rgb(144, 142, 142);

}